<ion-view view-title="Movie Time">

  <div class="bar bar-subheader ">
    <label class=" item-select col col-100"  >

       <b> Select Movie</b>

          <select ng-options="movie as movie.movieName for movie in movies track by movie.movieName" ng-model="selected"></select>
    </label>

  </div>

  <ion-content class="has-subheader">


    <ion-refresher on-refresh="refresh()"></ion-refresher>
    <div class="list">

      <a ng-repeat="item in items"

         class="item item-thumbnail-left" href="#/app/item/{{item.Id}}">

        <img ng-if="item.imgLink" ng-src="{{ item.imgLink  }}">
        <h5 ng-if="item.movieName" class="positive"><b>{{ item.movieName }}</b></h5>
        <h5 ng-if="item.Genre">{{ item.Genre }}</h5>
        <h5 ng-if="item.cenima">{{ item.cenima }}</h5>
        <h5 ng-if="item.timing">{{ item.timing }}</h5>
        <h5 ng-if="item.date"><b>{{item.date| date:'MMM d'}}</b></h5>
      </a>

    </div>

  </ion-content>
</ion-view>
